
/* Base */

.layer-content {
  zoom: 1;
  position: relative;
  width: 100%;
  /*box-shadow: 0 -20px 30px -25px rgba(0, 0, 0, 0.5);*/
}
.layer-content:before, .layer-content:after {
  content: "";
  display: table;
}
.layer-content:after {
  clear: both;
}
.layer > .layer-content {
  opacity: 1;
  position: static;
  top: auto;
  z-index: inherit;
  transform: scale(1,1);
}
.layer.pinned > .layer-content {
  opacity: 1;
  position: fixed;
  top: 0;
  z-index: -1;
  -webkit-filter: brightness(.75);
  transition: 500ms;
}
.layer.pinnedBottom > .layer-content {
  opacity: 1;
  position: fixed;
  bottom: 0;
  z-index: -1;
  -webkit-filter: brightness(.8);
  transition: 500ms;
}
.layer.pinned >.layer-content > * {
  transform: scale(.97,.97);
  animation-name: zoom;

  animation-duration: 500ms;

}
.layer.pinnedBottom >.layer-content > * {
  transform: scale(.97,.97);
  animation-name: zoom;
  animation-duration: 500ms;
}
@keyframes zoom {
  0% {
    transform: scale(1,1);
  }
  100% {
    transform: scale(.97,.97);
  }
}
/* Custom */

body {
  font-size: 1.1em;
  line-height: 1.8em;
}
.container {
  max-width: 997px;
  margin: 0 auto;
  padding: 30px 15px 60px 15px;
}
header > * {
  background: #439;
  color: white;
}
#first > *  {
  background: white;
  color: black
}
#second > *  {
  background: #439;
  color: white;
}
#third > *  {
  background: black;
  color: white;
}
#fourth > * {
  background: #439;
  color: white;
}
#fifth > * {
  background: white;
  color: black;
}
