
/* Base */

.layer-content {
  zoom: 1;
  position: relative;
  width: 100%;
  box-shadow: 0 -20px 30px -25px rgba(0, 0, 0, 0.5);
}
.layer-content:before, .layer-content:after {
  content: "";
  display: table;
}
.layer-content:after {
  clear: both;
}

/* Custom */

body {
  font-size: 1em;
  line-height: 1.8em;
}
.container {
  width: 997px;
  margin: 0 auto;
  padding: 30px 15px 60px 15px;
}
header > * {
  background: #439;
  color: white;
}
#first > *  {
  background: white;
  color: black
}
#second > *  {
  background: #439;
  color: white;
}
#third > *  {
  background: black;
  color: white;
}
#fourth > * {
  background: white;
  color: black
}
